<h1>Data Munging : Treating Duplicate Values</h1>
        <img src="dataMunging.png">

In [2]:

import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# importing package to remove the warnings
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Creating a DataFrame
df_obj=DataFrame({'col1':[1,2,3,4,4,4,],
                  'col2':['a','b','c','d','d','d'],
                   'col3':['A','B','C','C','C','C']})

In [4]:
df_obj

   col1 col2 col3
0     1    a    A
1     2    b    B
2     3    c    C
3     4    d    C
4     4    d    C
5     4    d    C

In [5]:
# Function to check the duplicates in the data frame
df_obj.duplicated()

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [6]:
# function to drop duplicated rows
df_obj.drop_duplicates()

   col1 col2 col3
0     1    a    A
1     2    b    B
2     3    c    C
3     4    d    C

In [7]:
# droping the duplicated values in col3
df_obj.drop_duplicates(['col3'])

   col1 col2 col3
0     1    a    A
1     2    b    B
2     3    c    C